QMainWindow {
  background-color: #110f19;
}

QLabel#heading {
  font-size: 103px;
  letter-spacing: 0px;
  /* color: #fffefe; */
  color: #31fe5c;
  font-weight: 950;
  font-family: MonomaniacOne;
}

QPushButton {
  font-size: 30px;
  font-family: Cubano;
  color: #fdfffd;
  background-color: #110f19;
  border: 2px solid white;
}

QPushButton#button {
  font-size: 40px;
}

QPushButton:hover {
  border: 5px solid white;
}