QMainWindow {
  background-color: #1d1f22;
}

#heading {
  font-size: 70px;
  /* color: #fffefe; */
  color: #00ee7c;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
}

QPushButton {
  margin-bottom: 120px;
  font-size: 30px;
  color: white;
}

QPushButton:hover {
  border: 2px solid white;
}

QPushButton#encryption_button {
  background-color: #03045e;
}

QPushButton#decryption_button {
  background-color: #9d0208;
}
